<h2 mat-dialog-title>Release Notes</h2>

<mat-dialog-content class="mat-typography">
  <h3><fa-icon icon="tags" style="color: green;"></fa-icon> New Features</h3>
  <ul>
    <li>Sms configuration</li>
    <li>Dashboard analytics report</li>
  </ul>

  <h3><fa-icon icon="bug" style="color: red;"></fa-icon> Bug Fixes</h3>
  <ul>
    <li>Route to loan repayment at the dollar sign in client/group profile</li>
    <li>Fix all pentaho reports to be able to export in csv,excell,normal format</li>
  </ul>

  <h3><fa-icon icon="anchor" style="color: coral;"></fa-icon> Improvements</h3>
  <ul>
    <li>Enhance on dashboard reports</li>
  </ul>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
