<div class="container">

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>New Statistics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mifosx-analytics-report></mifosx-analytics-report>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Old Statistics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" class="top-card">
        <div class="trends-bar">
          <mifosx-client-trends-bar></mifosx-client-trends-bar>
        </div>
      </div>

      <div fxLayout="row" class="bottom-card">
        <div class="amount-disbursed">
          <mifosx-amount-disbursed-pie></mifosx-amount-disbursed-pie>
        </div>

        <div class="amount-collected">
          <mifosx-amount-collected-pie></mifosx-amount-collected-pie>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
