/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* ############ Light mode palettes ################ */

$primary-palette: (
  100: #7daaff,
  500: #2874ec,
  700: #0045b8,
  contrast: (
    100: rgb(0 0 0 / 87%),
    500: white,
    700: white
  )
);

$accent-palette: (
  100: #a8ffc8,
  500: #5be196,
  700: #16ab64,
  contrast: (
    100: rgb(0 0 0 / 87%),
    500: rgb(0 0 0 / 87%),
    700: rgb(0 0 0 / 87%)
  )
);

/* ############ Dark mode palettes ################ */

$dark-primary-palette: (
  100: #7daaff,
  500: #2874ec,
  700: #0045b8,
  contrast: (
    100: white,
    500: rgb(255 255 255 / 87%),
    700: rgb(255 255 255 / 87%)
  )
);

$dark-accent-palette: (
  100: #a8ffc8,
  500: #5be196,
  700: #16ab64,
  contrast: (
    100: white,
    500: white,
    700: white
  )
);
