<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>SMS</mat-card-title>
      <mat-card-subtitle>RacinePay premium menu</mat-card-subtitle>
    </mat-card-header>

    <mat-nav-list>
      <mat-list-item [routerLink]="['sms-event-configuration']">
        <mat-icon matListIcon>
          <fa-icon icon="key" size="sm"></fa-icon>
        </mat-icon>
        <h4 matLine>SMS Event Configuration</h4>
        <p matLine>Manage SMS event configuration</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div>
