/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.container {
  max-width: 37rem;
  margin: 0 auto;

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: -15px;
  }
}

.mat-list-base {
  padding-top: 0;
}

a {
  text-decoration: none;
  color: black;
}

.racine-logo {
  display: block;
  margin: 0 auto 15px;
  width: 80%;
}
