<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <div class="layout-row responsive-column gap-20px">
    <div class="flex-50">
      <mat-card class="feature-card" [routerLink]="['sms']">
        <mat-card-content class="feature-card-content">
          <mat-icon class="feature-icon">
            <fa-icon icon="comment-alt" size="lg"></fa-icon>
          </mat-icon>
          <div>
            <h3 class="feature-title">SMS</h3>
            <p class="feature-description">Open SMS RacinePay premium options</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
